<!DOCTYPE html>
<html>
<head>
    <title>404</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" href="/pics/weather.png">
</head>

<body>
    <div class="maincontent">
        {{>header}} 
        <p>{{errorMsg}}</p>
    </div>
    
    {{>footer}}
</body>
</html>