<!DOCTYPE html>
<html>
<head>
    <title>About</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" href="/pics/weather.png">
</head>
<body>

    <div class="maincontent">
        {{>header}} 
        <img class="portrait" src="{{imgSrc}}">
        <p>This is the about page</p>
    </div>
    
    {{>footer}}
</body>
</html>