<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/css/styles.css">
    <title>Help</title>
    <link rel="icon" href="/pics/weather.png">
</head>

<body>

    <div class="maincontent">
        {{>header}}
        <p>This is the help page</p>
    </div>
    
    {{>footer}}
</body>

</html>